[Unit]
Description=fleet-ui
After=docker.service
Requires=docker.service

[Service]
User=core
EnvironmentFile=/etc/environment
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker pull purpleworks/fleet-ui:latest
ExecStartPre=-/usr/bin/docker rm fleet_ui
ExecStart=/usr/bin/docker run --rm --name fleet_ui --memory="128m" \
-p 3000:3000 -e ETCD_PEER=http://${COREOS_PUBLIC_IPV4}:2379 \
 -v /home/core/.ssh/id_rsa:/root/id_rsa \
 purpleworks/fleet-ui
#
ExecStop=/usr/bin/docker kill fleet_ui
ExecStopPost=-/usr/bin/docker rm fleet_ui

TimeoutStartSec=900s
Restart=always
RestartSec=10s

