[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=kube-apiserver.service
After=kube-apiserver.service
[Service]
ExecStartPre=/opt/sbin/wupiao 127.0.0.1:8080
ExecStart=/opt/bin/kube-controller-manager \
 --root-ca-file=/data/kubernetes/ca.crt \
 --service-account-private-key-file=/data/kubernetes/server.key \
 --master=127.0.0.1:8080 \
 --pod_eviction_timeout=30s \
 --logtostderr=true

Restart=always
RestartSec=10

[X-Fleet]
MachineOf=kube-apiserver.service
