[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
EnvironmentFile=/etc/network-environment
#ExecStartPre=/opt/bin/wupiao 127.0.0.1:8080
ExecStart=/opt/bin/kubelet \
 --address=0.0.0.0 \
 --port=10250 \
 --hostname_override=${DEFAULT_IPV4} \
 --register-node=true \
 --container_runtime=docker \
 --api_servers=http://127.0.0.1:8080 \
 --allow_privileged=true \
 --cluster_dns=10.100.0.10 \
 --cluster_domain=cluster.local \
 --logtostderr=true \
 --cadvisor_port=4194 \
 --healthz_bind_address=0.0.0.0 \
 --healthz_port=10248

Restart=always
RestartSec=10

