[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=etcd2.service fleet.service docker.service flanneld.service
After=etcd2.service fleet.service docker.service flanneld.service

[Service]
LimitNOFILE=491521
# Check for certs
ExecStartPre=/bin/sh -c '[[ -f /data/kubernetes/ca.crt ]] || /opt/sbin/kube-certs.sh'
# Check for binary
ExecStartPre=/bin/sh -c 'while [ ! -f /opt/bin/kube-apiserver ]; do sleep 1; done'
# Start API server
ExecStart=/opt/bin/kube-apiserver \
 --client-ca-file=/data/kubernetes/ca.crt \
 --tls-cert-file=/data/kubernetes/server.cert \
 --tls-private-key-file=/data/kubernetes/server.key \
 --admission_control=NamespaceLifecycle,NamespaceAutoProvision,LimitRanger,SecurityContextDeny,ServiceAccount,ResourceQuota \
 --service_account_key_file=/data/kubernetes/server.key \
 --service_account_lookup=false \
 --allow_privileged=true \
 --insecure_bind_address=0.0.0.0 \
 --insecure_port=8080 \
 --kubelet_https=true \
 --secure_port=6443 \
 --service-cluster-ip-range=10.100.0.0/16 \
 --etcd_servers=http://127.0.0.1:2379 \
 --bind-address=0.0.0.0 \
 --logtostderr=true

Restart=always
RestartSec=5
