[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/opt/bin/kube-apiserver \
 --allow_privileged=true \
 --insecure_bind_address=0.0.0.0 \
 --insecure_port=8080 \
 --kubelet_https=true \
 --secure_port=6443 \
 --service-cluster-ip-range=10.100.0.0/16 \
 --etcd_servers=http://127.0.0.1:2379 \
 --public_address_override=127.0.0.1 \
 --logtostderr=true \
 --runtime_config=extensions/v1beta1=true,extensions/v1beta1/daemonsets=true

Restart=always
RestartSec=10

