[Unit]
Description=Kubernetes Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStartPre=/opt/sbin/wupiao 127.0.0.1:8080
ExecStart=/opt/bin/kube-proxy \
 --master=http://127.0.0.1:8080 \
 --logtostderr=true

Restart=always
RestartSec=5

